*, *::before, *::after {
box-sizing: border-box;
}

body {
background-image:linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
}

.container {
    background-color: #0f0c29;
    width: 550px;
    height: 350px;
    margin: 150px 400px auto 400px;
    box-shadow: 2px 2px 100px white;
    /* border-radius: 20px; */
}
h1 {
    color:white;
    text-align: right ;
    margin: 20px;
    font-weight: 300;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1em;
    font-size: 2em;
    padding: 20px 30px ;
    
}
.text {
    color: black;
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1em;
    text-shadow: 5px 5px 20px white;
}
.box {
    width: 400px;
    height: 100px;
    background-color: #302b63;
    background-position: center;
    margin: 0 40px 0 55px ;
    box-shadow: 2px 2px 100px white;
    border-radius: 50%;
}
.footer {
    color:black solid;
    font-weight: 800;
    text-align: left;
    position: fixed;
    padding-left: 15px;
    bottom: 0;
    font-family: 'Kreon', serif;
    font-size: 1.5em;
    text-shadow: 5px 5px 20px white;
 
}